pyrofork
tgcrypto
aiogram==3.22.0
google-generativeai
aiohttp
telethon
cryptg
pytz
telegraph
pycountry
beautifulsoup4
Pillow
yt-dlp
python-dateutil
motor
aiofiles
python-dotenv
googletrans
psutil
pydub
moviepy
speedtest-cli
py-yt-search
lxml
smartfaker
smartbindb
qrcode
reportlab
pypdf