pyrofork
tgcrypto
aiogram
google-generativeai
aiohttp
telethon
cryptg
pytz
telegraph
pycountry
beautifulsoup4
Pillow
yt-dlp
python-dateutil
motor
aiofiles
python-dotenv
psutil
pydub
speedtest-cli
py-yt-search
lxml
smartfaker
smartbindb
qrcode
reportlab
pypdf