pyrofork
tgcrypto
aiogram==3.22.0
google-generativeai
aiohttp
telethon
httpx==0.13.3
cryptg
asyncio
pytz
telegraph
pycountry
beautifulsoup4
Pillow
yt-dlp
python-dateutil
motor
gTTS
aiofiles
python-dotenv
googletrans==4.0.0-rc1
psutil
pydub
moviepy
speedtest-cli
py-yt-search
lxml
smartfaker
smartbindb
qrcode
reportlab
pypdf